# Output
build
*.iml
.idea
.gradle
*.jar
__pycache__

# Project files
*.iml
*.ipr
.idea
.project
.eclipse

# Personal deploy scripts
deploy.sh
debug.sh

# personal testing scripts
./src/main/python/re*.py